h1 {
text-align: center;
font-style: bold;
font-size: 200mm;
}

img alt="Avatar"{
  align-items: center;

}
div id="carouselExampleControls" {


}
div class="Facts of the Reef" {


}

img {
  image-orientation: center
}

p {
font-style: normal;
font-size: 8mm;
color: blue;
text-align: center;
}

p1 {
font size: 5mm

}
